<!DOCTYPE html>
<html>
  <head>
    <title>Camera</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
    canvas, video{
      border: 1px solid gray;
    }
    </style>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
